@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #1c1c1c;
}

.title h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
}

.desc p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    cursor: default;
}

.gallery p {
    font-family: 'montserrat', sans-serif;
    color: #fff;
    text-align: center;
}

.gallery a {
    font-family: 'montserrat', sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.gallery:hover {
    cursor: default;
}
.gallery a:hover {
    color: purple;
    text-decoration: underline;
    cursor: default;
}
.image {
    display: flex;
    justify-content: center;
}
.random-button {
    text-align: center;
    cursor: default;
}

.random-button button {
    animation-name: buttonFadeOut;
    animation-duration: 1.5s;
    font-family: 'montserrat', sans-serif;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    border: none;
}

.random-button button:hover {
    animation: buttonFadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.image img {
    animation: zoomOutImage;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border-radius: 15px;
}

.image img:hover {
    animation: zoomImage;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


.credentials {
    padding-top: 15px;
    font-family: 'montserrat', sans-serif;
    color: #fff;
    text-align: center;
    cursor: default;
}

@keyframes buttonFadeIn {
    from {
        background-color: #fff;
    }
    to {
        transition: background-color 0.5s ease;
        background-color: #62cffe;
        transition: scale 0.5s ease;
        scale: 110%;
    }
}

@keyframes buttonFadeOut {
    from {
        background-color: #62cffe;
        transition: scale 0.5s ease;
        scale: 110%;
    }
    to {
        transition: background-color 0.5s ease;
        background-color: #fff;
        transition: scale 0.5s ease;
        scale: 100%;
    }
}


@keyframes zoomImage {
    from {
        scale: 100%;
    }
    to{
        transition: scale 0.5s ease;
        scale: 103%;
    }
}

@keyframes zoomOutImage {
    from {
        scale: 103%;
    }
    to {
        transition: scale 0.5s ease;
        scale: 100%;
    }
}